<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <section>
        <div class="forgot-password-container">
            <h1>Forgot Password</h1>
            <form method="POST">
                <div class="input-field">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" id="username" name="username" required>
                    <label>Username</label>
                </div>
                <button type="submit">Show Password</button>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="message">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <div class="extra-links">
                <a href="/">Back to Login</a>
            </div>
        </div>
    </section>

</body>

</html>